* {
    box-sizing: border-box;
  }

body {
    background-image: linear-gradient(to bottom right,rgba(169, 167, 246, 1), rgba(40, 43, 119, 1));
    font-family: 'Archivo';
    margin: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.nav {
    overflow: hidden;
  }
  
  .links {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;

}
  
  /* Style the links inside the navigation bar */
.nav a {
    color: #ffffff;
    padding: 14px 20px 20px 20px;
    text-decoration: none;
    font-size: 17px;

}

.nav a.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 40px;
  }
  
/* Change the color of links on hover */
.nav a:hover {
background-color: rgba(255, 255, 255, 0.2);
border-radius: 40px;
}


h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 900px;
}
  
.projects{
  background-color:white;
  border-radius: 30px;
  margin: 50px 300px 50px 300px;
}

.projectDescriptions{
  padding: 30px;
}

@media screen and (max-width: 800px) {
  .projects{
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;


  }

}



/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
